In [20]:
students =[
 {
 "name": "raj",
 "marks": [50,20,30,52,90],
 "medium": "english",
 "parents_details": {
 "parents_qualification": "educated",
 "father_name": "ramu"
 }
 },
 {
 "name": "regho",
 "marks": [70,35,50,60,90],
 "medium": "english",
 "parents_details": {
 "parents_qualification": "non-educated",
 "father_name": "ranjith"
 }
 },
 {
 "name": "ragu",
 "marks": [50,50,35,50,100],
 "medium": "tamil",
 "parents_details": {
 "parents_qualification": "non-educated",
 "father_name": "rajeev"
 }
 },
 {
 "name": "kumar",
 "marks": [50,30,30,52,100],
 "medium": "english",
 "parents_details": {
 "parents_qualification": "educated",
 "father_name": "rajesh"
 }
 },
 {
 "name": "sathesh",
 "marks": [49,19,30,40,12],
 "medium": "tamil",
 "parents_details": {
 "parents_qualification": "non-educated",
 "father_name": "ramu"
 }
 },
 {
 "name": "sundar",
 "marks": [70,70,40,40,80],
 "medium": "tamil",
 "parents_details": {
 "parents_qualification": "non-educated",
 "father_name": "remo"
 }
 }
]

In [21]:
print(students[0]["marks"])
print(students[0]["parents_details"]["parents_qualification"])

[50, 20, 30, 52, 90]
educated

# 1. filter the student whose average is grater than 40

In [22]:


from functools import reduce

# itr = iter(students)

# print(next(itr)["marks"])
# print(next(itr))
# print(next(itr))

def findAvg(student):
    l = len(student["marks"])
    return reduce(lambda x,a: x+a,student["marks"])/l

averages = []
for student in students:
    averages.append(findAvg(student))
    


print(averages)


for ind,val in enumerate(averages):
    if(val>40):
        print(students[ind]["name"])

[48.4, 61.0, 57.0, 52.4, 30.0, 60.0]
raj
regho
ragu
kumar
sundar

# 2. filter the student who got pass mark in all the subjects (pass mark 30)

In [23]:
def findPass(student):
    return list(filter(lambda x:x>=30,student["marks"]))


passs = []
for student in students:
    passs.append(findPass(student))
    
#print(passs)

passStudents = [ students[ind] for ind,val in enumerate(passs) if len(val)==5]

for passStudent in passStudents:
    print(passStudent["name"])

# for ind,val in enumerate(passs):
#     if(len(val)==5):
#         print(students[ind]["name"])

regho
ragu
kumar
sundar

# 3. filter the student who got pass mark in all the subjects and whose parents are not-educated

In [24]:
norEduParrent = list(filter(lambda x:  x["parents_details"]["parents_qualification"]=="non-educated",passStudents))

print([x["name"] for x in norEduParrent])

['regho', 'ragu', 'sundar']

# 4.Find the student who got top most mark irrespective of all the subject and whose parents are not educated

In [25]:
from functools import reduce

def findTot(student):
    return reduce(lambda x,a: x+a,student["marks"])

def findByTotal(totals):

    for i in range(0,len(totals)):
        MAX = max(totals)
        print(MAX)
        ind = totals.index(MAX)

        if(students[ind]["parents_details"]["parents_qualification"]=="non-educated"):
            return(students[ind]["name"])
        else:
            totals[ind] = 0
            print(totals)


totals = []

for student in students:
    totals.append(findTot(student))
    
print(totals)

print(findByTotal(totals))

[242, 305, 285, 262, 150, 300]
305
regho

# 5.Find the student who got top most mark irrespective of all the subject in tamil medium

In [26]:
def findByMedium(totals):
     for i in range(0,len(totals)):
        MAX = max(totals)
        ind = totals.index(MAX)

        if(students[ind]["medium"]=="tamil"):
            return(students[ind]["name"])
        else:
            totals[ind] = 0
            print(totals)

print(findByMedium(totals))

[242, 0, 285, 262, 150, 300]
sundar

# 7.Display sundar's 4th subject mark

In [27]:
ipt = input("Enter the Name and Subject no space separately ")

name,sub = ipt.split()

for student in students:
    if(student["name"]==name):
        print(student["marks"][int(sub)-1])

Enter the Name and Subject no space separately sundar 4
40

# 8.Display 2nd subject mark of the student whose father name is "Rajeev"

In [29]:
ipt = input("Enter the Father Name and Subject no space separately ")
name,sub = ipt.split()

for student in students:
    if(student["parents_details"]["father_name"]==name):
        print(student["marks"][int(sub)-1])

Enter the Father Name and Subject no space separately rajeev 2
50

# 9.Display students name whose father names are same

In [30]:
for i in (0,len(students)-1):
    for student in students:
        if(students[i]["parents_details"]["father_name"]==student["parents_details"]["father_name"] and i !=len(students)-1):
            print(student["name"])

raj
sathesh

# 10.Display students name whose father name ends with h

In [31]:
for student in students:
    if(student["parents_details"]["father_name"][len(student["parents_details"]["father_name"])-1]=="h"):
        print(student["name"])

regho
kumar

In [32]:
import re

for student in students:
    if(re.search("h$",student["parents_details"]["father_name"])):
        print(student["name"])

regho
kumar

# 11.Delete the student from the array who got less than 30 in the second subject

In [52]:
for i in range (0,len(students)-1):
    if(students[i]["marks"][1]<30):
        students.remove(i)
                
            
for student in students:
    print(student)

{'name': 'regho', 'marks': [70, 35, 50, 60, 90], 'medium': 'english', 'parents_details': {'parents_qualification': 'non-educated', 'father_name': 'ranjith'}}
{'name': 'ragu', 'marks': [50, 50, 35, 50, 100], 'medium': 'tamil', 'parents_details': {'parents_qualification': 'non-educated', 'father_name': 'rajeev'}}
{'name': 'kumar', 'marks': [50, 30, 30, 52, 100], 'medium': 'english', 'parents_details': {'parents_qualification': 'educated', 'father_name': 'rajesh'}}
{'name': 'sundar', 'marks': [70, 70, 40, 40, 80], 'medium': 'tamil', 'parents_details': {'parents_qualification': 'non-educated', 'father_name': 'remo'}}