# Python using as the caalculator

In [4]:
1+2

3

In [6]:
1/2  #Here the single forward slash return the whole value

0.5

In [7]:
1//2 #Here // usedto return the round value

0

# Numbers

# #In python there are three types of Numbers are available
### 1) Int
### 2) Float
### 3) Complex

In [8]:
#Int 
a = 1
print(type(a))

<class 'int'>

In [10]:
print(type(1.0))

<class 'float'>

In [13]:
print(type(1+2j))

<class 'complex'>

# Strings

In python string is a considered immutable data type.
It can be declared within single or double quotes.
We can also use trible qoute string for multiline string

In [15]:
a = "Yasin"
b = 'Mohamed'
c = '''
    Mohamed Yasin M
    Aspirian
    '''

In [17]:
print(a,"\n",b,"\n",c)

Yasin
 Mohamed

    Mohamed Yasin M
    Aspirian

# List

In [23]:
a = [i for i in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Both string and list are sequence type data type
We can access it by index
rather than other language like c, java python support negative operator 

>Here List mutable which we change the value by index
>String is immutable because of constant pool we cant change the specific element if we want to make modification we need to create a new string

In [32]:
print(a[:4],a[:-1])

[0, 1, 2, 3] [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [37]:
print(b[-1:-5])