In [1]:
import mysql.connector

In [2]:
conn  = mysql.connector.connect(host='localhost',user="root",password="water")
print(conn)

<mysql.connector.connection.MySQLConnection object at 0x000001E676AEC730>

In [7]:
mc = conn.cursor(buffered=True)

try:
    mc.execute("CREATE DATABASE mydb")
except Exception as e:
    print(e)

1007 (HY000): Can't create database 'mydb'; database exists

In [8]:
mc.execute("SHOW DATABASES")

for i in mc:
    print(i)
    
mc.execute("USE aspire")

('aspire',)
('information_schema',)
('mydatabase',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [9]:
mc.execute("SHOW TABLES")
for i in mc:
    print(i)

('details',)

In [10]:
mc.execute("SELECT * FROM details")

for i in mc.fetchall():
    print(i)

(16, 'MGR', None)
(23, 'Keerthana R', None)
(27, 'MK', None)
(31, 'Mohamed', None)
(33, 'Nandhini', None)