In [5]:
import mysql.connector

In [26]:
conn  = mysql.connector.connect(host='localhost',user="root",password="water")
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x00000225A1136760>

In [29]:
mc = conn.cursor(buffered=True)

mc.execute("CREATE DATABASE mydb")

In [36]:
mc.execute("SHOW DATABASES")

for i in mc:
    print(i)
    
mc.execute("USE aspire")

('aspire',)
('information_schema',)
('mydatabase',)
('mydb',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [39]:
mc.execute("SHOW TABLES")
for i in mc:
    print(i)

('details',)

In [42]:
mc.execute("SELECT * FROM details")

for i in mc:
    print(i)

(16, 'MGR', None)
(23, 'Keerthana R', None)
(27, 'MK', None)
(31, 'Mohamed', None)
(33, 'Nandhini', None)